<!--@subject Repository Credentials @-->

{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">{{trans "%name," name=$order.getCustomerName()}}</p>
            <p>We have generated credentials for your module purchase.</p>
            <br>
            <p>
                Repository URL: {{var repositoryUrl}}<br>
                Username: {{var credential.getUsername()}}<br>
                Password: {{var credential.getPassword()}}<br>
            </p>
            <br>
            <p>
                You can install this module by using the following commands:<br>
                <pre style="font: monospace">$ composer config repositories.moduleName composer {{var repositoryUrl}}
$ composer require {{var moduleName}}</pre>
                When prompted with username/password, enter the credentials above.
                <br><br>
                Should you have any questions, don't hesitate to contact us!
            </p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}