<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <generate_credentials>
            <general>
                <repo_url>https://some.url.goes.here/repo/private/</repo_url>
                <module_name>danslo/magento2-module-foo-bar</module_name>
            </general>
        </generate_credentials>
    </default>
</config>