<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="generate_credentials_command" xsi:type="object">Danslo\GenerateCredentials\Command\GenerateCommand</item>
                <item name="send_credentials_command" xsi:type="object">Danslo\GenerateCredentials\Command\SendCommand</item>
            </argument>
        </arguments>
    </type>
</config>